.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.button-container {
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #e2e2e1;
  padding: 8px;
}
button {
  white-space: nowrap;
  padding: 8px;
}
